<div id="content" class="content">
    <div class="content-wrap">
        <form class="search-box form-horizontal" name="merchantListForm" novalidate>
            <table class="search-box-table">
                <tbody>
                <tr>
                    <td class="text-right">九盈商户号</td>
                    <td><input type="text" class="form-control" name="idOfTbMerchantUser"
                               ng-model="transQuery.idOfTbMerchantUser" placeholder="九盈商户号"></td>
                    <td class="text-right">现在支付商户号</td>
                    <td><input type="text" class="form-control" name="userIdOfIPayNow"
                               ng-model="transQuery.userIdOfIPayNow" placeholder="现在支付商户号" ></td>
                    <td class="text-right">商户名称</td>
                    <td><input type="text" class="form-control" name="mchName" ng-model="transQuery.mchName"
                               placeholder="商户名称"></td>

                </tr>
                <tr>
                    <td colspan="8" class="text-center">
                        <button class="btn btn-primary btn-sm m-r-10" ng-search-btn>查询</button>
                        <button class="btn btn-white btn-sm m-r-10" ng-reset-btn>重置</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

        <table id="data-table" class="table table-striped table-bordered table-hover table1 text-center">
            <thead>
            <tr>
                <th>序号</th>
                <th>九盈商户号</th>
                <th>现在支付商户号</th>
                <th>商户名称</th>
                <th>创建时间</th>
                <th>修改时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in list">
                <td>{{$index+1}}</td>
                <td>{{item.idOfTbMerchantUser}}</td>
                <td>{{item.userIdOfIPayNow}}</td>
                <td>{{item.mchName}}</td>

                <td>{{item.createdTime | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{item.modifiedTime | date:'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <pagination></pagination>
</div>
