@charset "UTF-8";
.m-r-3 {
  margin-right: 3px; }

.fill, .ver {
  color: #f00;
  vertical-align: -3px;
  margin-right: 3px !important; }

.fill {
  color: #f00; }

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_kycbbddbdyc1h5mi.eot");
  src: url("//at.alicdn.com/t/font_kycbbddbdyc1h5mi.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_kycbbddbdyc1h5mi.woff") format("woff"), url("//at.alicdn.com/t/font_kycbbddbdyc1h5mi.ttf") format("truetype"), url("//at.alicdn.com/t/font_kycbbddbdyc1h5mi.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-guanbi1:before {
  content: "\e61a"; }

body {
  background: #d9e0e7;
  font-size: 12px;
  font-family: 'Microsoft YaHei','Hiragino Sans GB','宋体', Helvetica, Arial, sans-serif;
  color: #707478; }

textarea {
  resize: none; }

i {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

ul, li {
  margin-bottom: 0px;
  padding: 0px; }

.rel {
  position: relative; }

.ver-t {
  vertical-align: top; }

a, a:hover {
  text-decoration: none; }

a, .cur {
  cursor: pointer; }

.clr1 {
  color: #f00; }

.clr2, .clr2:hover {
  color: #999 !important; }

.sidebar .sub-menu > li.active > a:before {
  color: #00acac; }

.text-theme, .sidebar .sub-menu > li.active > a:before {
  color: #00acac; }

.btn.btn-primary {
  color: #fff;
  background: #00acac;
  border-color: #00acac; }

.navbar.navbar-inverse .navbar-brand,
.sidebar .nav > li.active > a,
.sidebar .nav > li.active > a:focus,
.sidebar .nav > li.active > a:hover,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.label.label-theme,
.btn.btn-scroll-to-top {
  background: #00acac; }

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
  background: #00acac;
  border-color: #00acac; }

body, html {
  height: 100%;
  background: #fff;
  overflow-x: hidden; }

.page-header-fixed {
  padding-top: 0px; }

.sub-nav {
  background: #2c353c;
  height: 40px; }
  .sub-nav .logo {
    width: 98px;
    height: 19px;
    background: url("../../style/images/bg1.png") no-repeat -42px -62px;
    margin: 11px 0px 0px 50px;
    display: block; }
  .sub-nav .sub-nav-news {
    line-height: 40px;
    color: #fff;
    font-size: 12px;
    margin-right: 20px; }
    .sub-nav .sub-nav-news span {
      margin-right: 10px; }
      .sub-nav .sub-nav-news span .num {
        margin-left: 5px; }
      .sub-nav .sub-nav-news span .bias {
        margin-left: 4px; }

.icon-text {
  margin-right: 30px; }
  .icon-text i {
    background: url("../../style/images/bg1.png") no-repeat 0 -60px;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    float: left; }

.user-hanld-box {
  background: #202325;
  padding: 8px 29px 8px 33px;
  color: #fff;
  font-size: 14px; }
  .user-hanld-box .user-select i {
    background: url("../../style/images/bg1.png") no-repeat 0 -95px; }

.user-select-wrap {
  line-height: 22px; }
  .user-select-wrap .san-b {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 6px 0px;
    border-color: #fff transparent transparent;
    display: inline-block; }

.main-nav {
  padding: 10px 0px 0px;
  overflow: hidden;
  height: 60px;
  margin: 0px 30px; }
  .main-nav li {
    height: 50px;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    float: left; }
    .main-nav li a {
      display: inline-block;
      padding: 0px 10px;
      line-height: 20px;
      border-right: 1px dashed #d9d8d9;
      font-size: 14px;
      color: #4a4a4a;
      margin-top: 12px; }
    .main-nav li.active {
      background: #00acac; }
      .main-nav li.active a {
        border-right-color: #00a5dd;
        color: #fff;
        text-decoration: none; }

.sidebar {
  background: #2d353c;
  padding: 110px 0px 50px;
  width: 200px;
  overflow-y: auto; }

.page-sidebar-minified .sidebar {
  overflow-y: visible; }

.content {
  position: absolute;
  top: 95px;
  left: 0px;
  right: 0px;
  bottom: 42px;
  overflow: auto;
  margin-left: 200px;
  padding: 20px 20px 0px; }

.pageboxwrap {
  position: fixed;
  bottom: 0px;
  left: 200px;
  right: 0px;
  background: #fff;
  border-top: 1px solid #ccc;
  padding: 5px 25px; }


.content1 {
  margin-left: 0px; }

.content2 {
  overflow-x: hidden; }

.content3 {
  bottom: 0px; }

.time-box {
  width: 200px; }

.page-list {
  line-height: 30px; }
  .page-list .form-control {
    width: 45px; }

.sidebar-minify-btn {
  z-index: 10000;
  position: absolute;
  right: 0px;
  bottom: 10px; }

.inline {
  display: inline-block; }

.pagination {
  margin: 0px; }
  .pagination .go-page-content, .pagination .btn-primary {
    margin-left: 5px; }
  .pagination .btn-primary {
    margin-top: -2px; }
  .pagination .noclick {
    border: 1px solid #fff; }
    .pagination .noclick:hover {
      background: #fff; }

.search-box {
  border: 1px solid #efefef;
  background: #f9f9f9;
  padding: 10px; }
  .search-box .form-control {
    width: 200px;
    border-radius: 0px;
    display: inline-block;
    margin-left: 10px; }

.search-box-table {
  width: 100%; }
  .search-box-table td {
    height: 36px; }

/*table*/
.w {
  width: 100%; }

.w1 {
  width: 150px !important; }

.w2 {
  width: 200px; }

.w3 {
  width: 100px !important; }

.w4 {
  width: 280px !important; }

.w5 {
  width: 250px !important; }

.w6 {
  width: 400px !important; }

th {
  text-align: center; }

.table > thead > tr > th {
  border-bottom-width: 1px !important; }

.table1 {
  margin: 15px 0px 0px 0px; }
  .table1 thead {
    background: #f5f5f5; }
  .table1 tbody > tr > td {
    padding: 4px 10px; }

.table2 th, .table3 th {
  background: #f5f5f5; }

.table3 tbody > tr > td {
  padding: 5px 10px; }

.inputbl {
  margin-top: 20px; }
  .inputbl td {
    padding-bottom: 20px; }
  .inputbl .title {
    width: 150px;
    text-align: right; }
  .inputbl .form-control {
    width: 250px;
    border-radius: 0px;
    display: inline-block;
    margin-left: 10px; }
  .inputbl textarea.form-control {
    width: 450px;
    border-radius: 0px;
    display: inline-block;
    margin-left: 10px; }

.sidebar .nav > li.nav-header {
  padding: 8px 20px; }

.login-wrap {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(90deg, #4f565f, #525863, #4f565f);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10; }

.login-box-main, .login-box-bg {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 2px #343536;
  position: absolute;
  left: 0px; }

.login-box-main {
  background: #fff;
  z-index: 3; }

.login-box-bg {
  background: #a5a6a8;
  z-index: 2;
  transform: rotate(2deg); }

.login-box-bg1 {
  z-index: 1;
  transform: rotate(-4deg); }

.icp {
  position: absolute;
  bottom: 40px;
  left: 0px;
  color: #c0c0c0;
  font-size: 12px;
  right: 0px; }

.login-box {
  width: 680px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0px 0px -340px; }

.login-bg {
  width: 225px;
  height: 38px;
  background: url("../../style/images/bg1.png") no-repeat -42px 0px;
  margin: 140px 0px 0px 80px; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; }

input {
  outline: none; }

.login-form {
  margin: 90px 0px 0px 80px; }
  .login-form .form-group {
    margin-bottom: 12px; }
    .login-form .form-group input {
      height: 40px;
      border-color: #e3e3e3;
      background: #fff;
      width: 220px;
      float: left; }
    .login-form .form-group .v-news {
      margin: 13px 0px 0px 10px;
      float: left; }
    .login-form .form-group .v-succees {
      background: url("../../style/images/bg1.png") no-repeat -4px 0px; }
  .login-form .btn {
    width: 220px;
    background: #00acac;
    color: #fff;
    margin-top: 3px; }

.code-ph {
  width: 78px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 4px; }

.v-news {
  width: 16px;
  height: 15px;
  display: inline-block; }

.v-news1 {
  color: #f00;
  margin-left: 5px; }

.v-news2 {
  position: absolute;
  top: 8px; }

.v-news3 {
  position: absolute;
  top: 28px;
  left: 3px; }

.v-succees {
  background: url("../../style/images/bg1.png") no-repeat -4px 0px; }

.v-fail {
  background: url("../../style/images/bg1.png") no-repeat -4px -30px; }

.title1 {
  line-height: 30px;
  color: #000; }

.title2 {
  font-size: 24px; }

.title3 {
  border-bottom: none !important;
  font-weight: bold;
  font-size: 14px; }

.role-box-warp {
  border-top: none;
  width: 33.33%;
  float: left; }
  .role-box-warp h5 {
    padding: 15px 10px 10px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    margin: 0px; }

.role-box-warp1 {
  width: 50%; }

.role-box-warp2 {
  width: 100%; }

.ml0 {
  margin-left: 0; }

.role-box-list {
  background: #f9f9f9;
  padding: 20px 10px 10px;
  border: 1px solid #efefef;
  height: 400px;
  overflow-y: auto; }
  .role-box-list .form-inline {
    border-bottom: 1px dashed #efefef;
    padding-bottom: 10px; }

.check-role-list {
  margin: 10px 0px; }
  .check-role-list li {
    margin-bottom: 5px; }

.check-action-list {
  margin: 10px 20px;
  border-bottom: 1px dashed #d8d8d8;
  padding-bottom: 10px; }
  .check-action-list li {
    float: left;
    width: 33.33%;
    margin-bottom: 5px; }

.check-action1 {
  width: 800px;
  border: 1px solid #d8d8d8;
  margin: -21px 0px 0px 10px;
  background: #fff;
  height: 200px;
  overflow-y: auto;
  padding: 10px; }
  .check-action1 .check-action-list span {
    cursor: pointer; }

.role-accredit-content {
  border-top: 1px solid #d8d8d8; }

.layui-layer-iframe .layui-layer-content {
  opacity: 0; }

.inputbl1 .v-news1 {
  position: absolute;
  bottom: 3px;
  left: 5px; }

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5) url("../images/loading.gif") no-repeat center;
  background-size: 50px 50px;
  z-index: 100000; }

.form-control {
  padding: 3px 12px; }

.dialog-txt {
  font-size: 14px;
  margin-top: 20px; }

.table tr td {
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all; }

.sidebar .sub-menu {
  display: block; }

.sidebar .nav > li.active > a, .sidebar .nav > li.active > a:focus, .sidebar .nav > li.active > a:hover {
  background: #00acac; }

.loading .icon-guanbi1 {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #fff;
  font-size: 30px;
  cursor: pointer; }

.multiple-select {
  min-height: 200px; }

.preview-logo {
  width: 150px;
  height: 150px;
  position: relative;
  background: url("../images/add.png") no-repeat center;
  margin-left: 10px; }
  .preview-logo .common-file-upload {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 1;
    display: block;
    opacity: 0; }
  .preview-logo img {
    width: 100%;
    height: 100%; }

.change-file-btn {
  position: relative; }
  .change-file-btn input {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: 1000;
    width: 70px; }

.director-box .btn-primary {
  margin-top: 15px; }

.table4 .form-control {
  display: inline; }

.table4 td {
  position: relative;
  padding: 15px !important; }
  .table4 td .v-news1 {
    position: absolute;
    bottom: 0px;
    left: 10px; }

.amend-dialog-main {
  width: 360px;
  height: 190px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0px 0px -160px;
  border-radius: 5px; }

.amend-dialog {
  padding: 40px 0px 10px;
  text-align: center; }
  .amend-dialog p {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px; }
  .amend-dialog .btn-primary {
    margin-top: 30px; }

.table > tbody + tbody {
  border-top: none; }

.select-wrap {
  position: relative; }
  .select-wrap .form-control {
    margin-left: 0px !important; }
  .select-wrap .select-item {
    position: absolute;
    top: 27px;
    left: 0px;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 2;
    background: #fff;
    max-height: 375px;
    overflow-y: hidden; }
    .select-wrap .select-item li {
      line-height: 24px;
      cursor: pointer;
      padding: 0px 10px; }
      .select-wrap .select-item li:hover {
        background: #f5f5f5; }
      .select-wrap .select-item li.active {
        background: #ccc; }

.scroll-block {
  height: 375px;
  overflow-y: auto !important; }

.tip-box {
  position: absolute;
  top: 200px;
  left: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin: -13px 0px 0px -50px;
  z-index: 2000;
  border-radius: 3px; }

.tipContent {
  top: 50%;
  position: absolute;
  left: 0px;
  right: 0px;
  left: 50%; }

.tipContent > .modal-content {
  padding: 20px 50px; }

.tip-modal-body {
  text-align: center;
  font-size: 16px; }

.tip-modal-body > p {
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  max-height: 240px;
  overflow: auto; }

.tip-sub-title {
  text-align: center;
  font-size: 14px !important;
  color: #595959 !important;
  margin: 0px;
  margin-top: 0px !important; }

.modal-box {
  background: rgba(0, 0, 0, 0.5); }

.modal-header {
  padding: 10px 15px; }

.modal-header > p {
  font-size: 14px; }

.modal-body {
  padding: 20px 0px; }

.modal-header .close {
  opacity: 1;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 32px;
  top: 12px;
  right: 18px;
  position: absolute; }
