.m-r-3{margin-right: 3px;}
.fill,.ver{color:#f00; vertical-align: -3px; margin-right: 3px !important;}
.fill{color:#f00;}
@mixin input($w: 200px, $l: 10px, $h: 30px){
	width: $w;
	border-radius: 0px;
	display: inline-block;
	margin-left: $l;
}
@mixin bg($x:-42px , $y: -62px){
	background:url('../../style/images/bg1.png') no-repeat $x $y;
}
@mixin san($w:8px 6px 0px,$c:#fff transparent transparent){
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: $w;
	border-color: $c;
}
@font-face {
  font-family: 'iconfont'; 
  src: url('//at.alicdn.com/t/font_kycbbddbdyc1h5mi.eot');
  src: url('//at.alicdn.com/t/font_kycbbddbdyc1h5mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_kycbbddbdyc1h5mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_kycbbddbdyc1h5mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_kycbbddbdyc1h5mi.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi1:before { content: "\e61a"; }